@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--secondary-color: #373b3f;
	--border-radius: 0.5rem;
}
.modal :not(.modal-footer, .modal-header) {
	border-radius: var(--border-radius);
}

.btn {
	border-radius: var(--border-radius);
}

.form-floating {
	overflow: hidden;
}

.form-control {
	border-radius: var(--border-radius);
}

/* .card { */
/*   border-radius: var(--border-radius); */
/*   box-shadow: 0px 0px 2px 1px var(--secondary-color); */
/* } */
/**/
.list-group:last-child {
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.ellipsis-text {
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
}

.ellipsis-text-parent {
	white-space: nowrap;
	overflow: hidden;
}

@supports selector(::-webkit-scrollbar) {
	::-webkit-scrollbar {
		width: 8px;
		background-color: transparent;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 12px;
		background-color: var(--secondary-color);
	}
}

.background-gradient {
	background: rgb(28, 10, 46);
	background: -moz-linear-gradient(
		153deg,
		rgba(28, 10, 46, 1) 0%,
		rgba(16, 6, 26, 1) 12%,
		rgba(0, 0, 0, 1) 46%,
		rgba(3, 0, 1, 1) 62%,
		rgba(14, 2, 6, 1) 94%,
		rgba(25, 3, 10, 1) 100%
	);
	background: -webkit-linear-gradient(
		153deg,
		rgba(28, 10, 46, 1) 0%,
		rgba(16, 6, 26, 1) 12%,
		rgba(0, 0, 0, 1) 46%,
		rgba(3, 0, 1, 1) 62%,
		rgba(14, 2, 6, 1) 94%,
		rgba(25, 3, 10, 1) 100%
	);
	background: linear-gradient(
		153deg,
		rgba(28, 10, 46, 1) 0%,
		rgba(16, 6, 26, 1) 12%,
		rgba(0, 0, 0, 1) 46%,
		rgba(3, 0, 1, 1) 62%,
		rgba(14, 2, 6, 1) 94%,
		rgba(25, 3, 10, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c0a2e",endColorstr="#19030a",GradientType=1);
}
